<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
		<editor
				name="Jif Editor"
				extensions="jif"
				class="jif.ide.editors.JifEditor"
				id="jif.ide.editors.Editor"
		/>
	</extension>	
	
	<extension
			point="org.eclipse.core.resources.natures"
			id="jif.ide.jifnature"
			name="Jif Nature">
		<runtime>
			<run class="jif.ide.natures.JifNature"/>
		</runtime>
		<builder id="jif.ide.jifBuilder" />
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category
				id="jif.ide.category.wizards"
				name="Jif"/>
			<wizard
				category="jif.ide.category.wizards"
				class="jif.ide.wizards.JifNewProjectWizard"
				id="jif.ide.wizards.new.jifproject"
				name="Jif Project"
				icon="images/jif-logo.png"
				project="true"/>
	</extension>	
	
	<extension point="org.eclipse.ui.menus">
  		<menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=export">
     		<menu id="buildPathMenu" label="Build Path">
     		<command
           		commandId="jif.ide.commands.configureBuildPathCommand"
           		label="Configure Build Path..."
           		style="push">
           		
           		<visibleWhen>
					<iterate operator="and">
					<test property="org.eclipse.core.resources.projectNature"
					value="jif.ide.jifnature">
					</test>
					</iterate>
				</visibleWhen> 
				
     		</command>
     		</menu>
  		</menuContribution>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		<command id="jif.ide.commands.configureBuildPathCommand" name="Configure Build Path Command" />
	</extension>
	
	<extension point="org.eclipse.ui.handlers">
      <handler
            class="jif.ide.wizards.JifConfigureBuildPathCommandHandler"
            commandId="jif.ide.commands.configureBuildPathCommand">
      </handler>
    </extension>
    
    <extension
      id="jifBuilder" name="Jif Project Builder" point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="jif.ide.JifProjectBuilder">
         </run>
      </builder>
   </extension>
   
   <extension point="org.eclipse.debug.core.launchDelegates">
  <launchDelegate
   id="jif.ide.launchDelegate"
   delegate="polyglot.ide.JLLaunchDelegate"
   type="org.eclipse.jdt.launching.localJavaApplication"
   modes="run">
  </launchDelegate>
 </extension>	
</plugin>
